<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.x0a.consent.consentwallet">
    <application
        android:name="io.flutter.app.FlutterApplication"
        android:label="Consent Wallet"
        android:roundIcon="@mipmap/ic_launcher_circle"
        android:icon="@mipmap/ic_launcher_square">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <meta-data
              android:name="io.flutter.embedding.android.SplashScreenDrawable"
              android:resource="@drawable/launch_background"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content"
                    android:pathPattern=".*\\.jwt"
                    android:mimeType="application/octet-stream" />

                <data android:scheme="content"
                    android:pathPattern=".*\\.consent"
                    android:mimeType="application/octet-stream" />

                <data android:scheme="file"
                    android:pathPattern=".*\\.jwt"/>

                <data android:scheme="file"
                    android:pathPattern=".*\\.consent"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
